.Education {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	margin: 1.5rem 0 1.5rem 1rem;
}

.Date {
	background-color: var(--resume-secondary);
	color: var(--resume-primary);
	border-radius: 5px;
	padding: .2rem;
}

.EducationName {
	padding-right: .5rem;
}