.Education {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	line-height: 2.2rem;
}

.Date {
	border: .2rem solid var(--resume-secondary);
	font-weight: bold;
	border-radius: 5px;
	font-size: .8rem;
	padding: .2rem;
}

.EducationName {
	padding-right: .5rem;
}