.Title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 2rem;
	word-spacing: .5rem;
	letter-spacing: .2rem;
	border-bottom: .2rem solid var(--resume-secondary);
}