.Title {
	background-color: var(--resume-secondary);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--resume-primary);
	border-radius: 5px;
	line-height: 2rem;
}