@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--resume-primary: #FFF;
	--resume-secondary: #0F0E17;
}

html, body {
	min-height: 100%;	
}

body {
	background-color: var(--resume-primary);
	font-family: 'Roboto', sans-serif;
	-webkit-print-color-adjust: exact;
	color: var(--resume-secondary);
	margin: 0;
	padding: 0;
	font-size: 16px;
}
